.container{
    display: flex;
    justify-content: center;
}

.card-more-info{
    margin-top: 10rem;
    padding-left: 10rem;
}

.more-info-name-character{
    font-family: 'Yusei Magic', sans-serif;
    font-size: 2.5rem;
    color: white;
}

.more-info-description{
    font-family: 'Dancing Script', cursive;
    color: white;
}