.all-characters-view {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-top: 2rem;
    padding-left: 14rem;
    padding-right: 14rem;
    h1{
        font-family: 'Yusei Magic', sans-serif;
        text-align: center;
    }
}